$mdc-theme-primary: #2b6a73;
$mdc-theme-accent: #ea493f;
$mdc-theme-background: #eee;

@import "vue-mdc-adapter/dist/styles";

// VUEGG COLORS
// -------------
// red: #ea493f;
// blue: #2b6a73;
// yellow: #ffa901;
