/* GRID LAYOUT - play around */

.container {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns:1fr 1fr 240px ;
  grid-template-rows: 56px 1fr;
  grid-gap: 0;
  grid-template-areas:
      "header header sidebar"
      "main main sidebar"
}

.header {
  grid-area: header;
}

.sidebar {
  grid-area: sidebar;
}

.main {
  grid-area: main;
}


/* App.vue */

.app {
/* mdl-layout__container --- outher layer to app div */
  position: absolute;
  width: 100%;
  height: 100%;

/* mdl-layout */
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
}


@media screen and (max-width: 1024px){
  .header {
    min-height: 56px;
  }
}

.header {
/* .mdl-layout--fixed-drawer.is-upgraded:not(.is-small-screen)>.mdl-layout__header */
  background-color: inherit;
  margin-left: 0;
  margin-right: 240px;
  margin-left: 240px;
  width: calc(100% - 240px);


/* .mdl-layout__header */
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  flex-shrink: 0;

  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  min-height: 64px;
  z-index: 3;
  background-color: #3f51b5;
  color: #fff;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
  transition-duration: .2s;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-property: max-height,box-shadow;
}

.main {
  -ms-flex: 0 1 auto;
  /*position: relative;*/
  display: inline-block;
  overflow-y: auto;
  overflow-x: auto;
  flex-grow: 1;
  z-index: 1;
  margin-right: 240px;
}

.not-scrolled {
  box-shadow: 0 0 0;
}

.drawer {
  /* mdl-layout__drawer */
  right: 0;
  left: auto;
  transform: translateX(0);

  /* .mdl-layout__drawer */
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 240px;
  height: 100%;
  max-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
  box-sizing: border-box;
  border-right: 1px solid #e0e0e0;
  background: #fafafa;

  transform: translateX(-250px);
  transform-style: preserve-3d;
  will-change: transform;
  transition-duration: .2s;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-property: transform;
  color: #424242;
  overflow: visible;
  overflow-y: auto;
  z-index: 5;
}


/* header/index.vue */

.headegg{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-shrink: 0;
  box-sizing: border-box;
  align-self: stretch;
  align-items: center;
  height: 64px;
  margin: 0;
  padding: 0 40px 0 80px;
}


/* drawer/index.vue */

.drawer .navigation {
    flex-direction: column;
    align-items: stretch;
    padding-top: 16px;
}

.drawer>* {
  flex-shrink: 0;
}

.navigation {
  padding-top: 16px;
  display: flex;
  flex-wrap: nowrap;
  box-sizing: border-box;
}


/* drawer/PageDialog.vue */

dialog:not([open]) {
    display: none;
}

.dialog {
    border: none;
    box-shadow: 0 9px 46px 8px rgba(0,0,0,.14), 0 11px 15px -7px rgba(0,0,0,.12), 0 24px 38px 3px rgba(0,0,0,.2);
    width: 280px;
}

dialog {
    position: absolute;
    left: 0;
    right: 0;
    width: fit-content;
    height: fit-content;
    margin: auto;
    border: solid;
    padding: 1em;
    background: white;
    color: black;
    display: block;
}

.dialog-title {
    font-size: 24px;
    font-weight: 500;
    padding: 24px 24px 0;
    margin: 0;
    font-size: 2.5rem;
}


.dialog-content {
    padding: 20px 24px 24px;
    color: rgba(0,0,0,.54);
}

.dialog-actions {
    padding: 8px 8px 8px 24px;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}
